######### Export functions to users.
export(autosimi, compas, 
      part.m.tree, part.p.tree, 
      select.window, 
      treeNodf, treeNodfTest
)


######### Import function from other packages.
import(vegan, picante)# entire packages imported.
#importFrom(vegan, nestednodf) #only nestednodf from vegan is imported.



######### S3 methods
S3method(print, treeNodf) # one method per line
S3method(print, treeNodfTest)
